<h1>Modifica Aliquota</h1>

<% form_for(@tipo_iva) do |f| %>
  <%= f.error_messages %>

  <table class="insert">
  <tr>
    <th>Descrizione</th>
	<td><%= f.text_field :descrizione %></td>
    <th>Valore Aliquota</th>
	<td><%= f.text_field :aliquota %></td>
  </tr>
 </table>
 <p>
    <%= f.submit 'Aggiorna Aliquota' %>
</p>
<% end %>
<br />
<%= link_to 'Torna a Gestione Aliquote', tipo_ivas_path, :class=>'commandbutton' %>