<h1>Aliquote Iva</h1>

<table class="insert">
  <tr>
    <th>Descrizione</th>
    <th colspan="3">Valore Aliquota</th>
  </tr>

<% @tipo_ivas.each do |tipo_iva| %>
  <tr>
  <td><%=link_to tipo_iva.descrizione, tipo_iva %></td>
    <td><%=h tipo_iva.aliquota %> %</td>
    <td><%= link_to (image_tag "edit.png", {:alt => 'Modifica aliquota', :title => 'Modifica aliquota', :class=>'noborder'}), edit_tipo_iva_path(tipo_iva) %></td>
    <td><%= link_to (image_tag "delete.gif", {:alt => 'Elimina aliquota', :title => 'Elimina aliquota', :class=>'noborder'}), tipo_iva, :confirm => 'Vuoi davvero eliminare questa aliquota?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Aggiungi Aliquota IVA', new_tipo_iva_path, :class=>"commandbutton" %>