<h1>New tipo_iva</h1>

<% form_for(@tipo_iva) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :aliquota %><br />
    <%= f.text_field :aliquota %>
  </p>
  <p>
    <%= f.label :descrizione %><br />
    <%= f.text_field :descrizione %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tipo_ivas_path %>