<h1>Modifica dati fattura</h1>

<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>

   <p>
    <%= f.label :codice, "Numero Fattura" %><br />
    <%= f.text_field :codice %>
  </p>
  <p>
    <%= f.label :data_fattura %><br />
    <%= f.date_select :data_fattura %>
  </p>
  <p>
    <%= f.label :customer_id, "Cliente" %><br />
    <!--= f.text_field :customer_id %-->
	<%= select("invoice", "customer_id", Customer.all.collect {|c| [ (!c.ragione_sociale.empty? ? c.ragione_sociale : "#{c.nome} #{c.cognome}") , c.id ] }) %>
  </p>
  <p>
    <%= f.label :descrizione, "Annotazioni Varie" %><br />
    <%= f.text_area :descrizione %>
  </p>
  <p>
    <%= f.submit 'Aggiorna Fattura' %>
  </p>
<% end %>


<%= link_to 'Annulla e torna alla Fattura', invoice_path(@invoice), :class=>'commandbutton' %>