<table class="invoice">
<tr>
<td colspan="3" rowspan="4">
<p>Fontana Roberto</p>
<p>Via J.F.Kennedy 34 <br /> Pieve di Soligo (TV)</p>
C.F. 	FNTRRT72P11C957W <br />
P.IVA 04167380262	<br />
N. REA CCIAA TV 328530
</td>
<td colspan="2" rowspan="1">
<p>Spett.le ditta</p>
</td>

</tr>
<tr>

<td colspan="2" rowspan="3">
<%=h @invoice.customer.ragione_sociale %><br />
<%=h "#{@invoice.customer.nome} #{@invoice.customer.cognome}" %><br />
<%=h @invoice.customer.indirizzo %><br />
<%=h "#{@invoice.customer.cap} #{@invoice.customer.comune}" %><br />
P. Iva <%=h @invoice.customer.p_iva %><br />
C. F. <%=h @invoice.customer.cod_fisc %>
</td>
</tr>
<tr></tr>
<tr></tr>
<tr></tr>
<tr>
<td colspan="3">Fattura num. <%=h @invoice.codice %>
</td>
<td colspan="2">del: <%=h (@invoice.data_fattura || @invoice.created_at).strftime("%m/%d/%Y") %>
</td>
</tr>
<tr>
	<td>Quantità</td>
    <td>Descrizione</td>
    <td>Iva%</td>
    <td>Imponibile</td>
	<td>Importo</td>
    <!--td><= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td-->
  </tr>
<% @invoice.jobs.each do |job| %>
  <tr>
	<td><%=h job.qty %></td>
    <td><%=h job.descrizione %></td>
    <td><%=h job.tipo_iva.aliquota %></td>
    <td><%=h job.importo %></td>
	<td><%=h job.importo + (job.importo * job.tipo_iva.aliquota / 100) %></td>
    <!--td><= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td-->
  </tr>
<% end %>
<tr>
<td colspan=3>&nbsp;</td>
<td>Imponibile:</td><td><%= h @tot_imponibile %></td>
</tr>
<tr>
<td colspan=3>&nbsp;</td>
<td>Totale:</td><td><%= h @totale %></td>
</tr>
<tr>
<td >Annotazioni:</td></tr>
<td colspan="5">
<%=h @invoice.descrizione %>
</td>
</table>

<%= link_to 'Aggiungi Voce', :controller=>:jobs, :action =>:new , :invoice=>@invoice%> |
<br />
<%= link_to 'Modifica', edit_invoice_path(@invoice) %> |
<%= link_to 'Torna ad Elenco Fatture', invoices_path %>