<h1>Nuova voce</h1>
<h2>Fattura <%= h @job.invoice.codice %></h2>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>
<table class="invoice">
  <%= f.hidden_field :invoice_id, :value =>@invoice.id %>
  <tr>
  <td>
    Descrizione
  </td>
  <td colspan="5">
    <%= f.text_area :descrizione , :size => "80x3" %>
  </td>
  </tr>
  <tr>
  <td>
    Q.tà
  </td>
  <td>
    <%= f.text_field :qty %>
  </td>
  <td>
    IVA
 </td>
 <td>
	<%= select("job", "tipo_iva_id", TipoIva.all.collect {|i| [ "#{i.aliquota}% - #{i.descrizione}" , i.id ] }) %>
  </td>
  <td>
    Imponibile EUR
  </td>
  <td>
    <%= f.text_field :importo %>
  </td>
  </tr>
</table>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>