<p>
  <b>Descrizione:</b>
  <%=h @job.descrizione %>
</p>

<p>
  <b>Qty:</b>
  <%=h @job.qty %>
</p>

<p>
  <b>Iva:</b>
  <%=h @job.tipo_iva_id %>
</p>

<p>
  <b>Invoice:</b>
  <%=h @job.invoice_id %>
</p>

<p>
  <b>Importo:</b>
  <%=h @job.importo %>
</p>


<%= link_to 'Modifica', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>