<h1>Lista Clienti</h1>

<table class="invoice">
  <tr>
    <th>Cliente
    <th>Indirizzo</th>
    <th colspan="3">Comune</th>
   
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%=link_to customer.intestazione, customer %></td>
    <td><%=h customer.indirizzo %></td>
    <td><%=h (customer.cap + " - " + customer.comune) %></td>
    
    <td><%= link_to (image_tag "edit.png", {:alt => 'Modifica dati Cliente', :title => 'Modifica dati Cliente', :class=>'noborder'}), edit_customer_path(customer) %></td>
    <td><%= link_to (image_tag "delete.gif", {:alt => 'Elimina Cliente', :title => 'Elimina Cliente', :class=>'noborder'}), customer, :confirm => 'Sei sicuro di voler eliminare questo Cliente?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserisci Nuovo Cliente', new_customer_path, :class=>'commandbutton' %>
