
<p>
<table class = "insert">
<tr>
<td colspan="2">
<h2>
  <%=h @customer.intestazione %>
</h2>
</td>
</tr>
<tr>
<th>
  P. Iva:
</th>
<td>
  <%=h @customer.p_iva %>
</td>
</tr>
<tr>
<th>
  Cod. Fisc.:
</th>
<td>
  <%=h @customer.cod_fisc %>
</td>
</tr>
<tr>
<th>
  Indirizzo
</th>
<td>
  <%=h "#{@customer.indirizzo}\n#{@customer.cap}\n#{@customer.comune}" %>
</td>
</tr>
</p>
<p>
<%= link_to 'Modifica dati Cliente', edit_customer_path(@customer) , :class=>"commandbutton"%> 
<%= link_to "Torna all'elenco Clienti", customers_path, :class=>"commandbutton" %></p>